
.faq-section {
  background: #ffffff;
  padding: 80px 20px;
}


.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #111;
}

.faq-title span {
  color: #7c5cc4;
}


.faq-container {
  max-width: 900px;
  margin: auto;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #000000;
  font-style: bold;
   font-family: 'Inter', sans-serif;
}

.faq-icon {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  transition: transform 0.3s ease;
}

.faq-question:hover .faq-icon {
  transform: scale(1.1);
}


.faq-answer {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
  line-height: 1.5;

  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .faq-section {
    padding: 50px 16px;
  }

  .faq-title {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .faq-question {
    font-size: 15px;
  }

  .faq-icon {
    font-size: 20px;
  }

  .faq-answer {
    font-size: 13px;
  }
}