@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.hero-section {
  padding: 20px;
  background: #F6F3FC;
  
}

.hero-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  max-width: 790px;
}

.hero-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 12px;
  color: #262626;
}

.hero-content p {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #080606;
  line-height: 1.4;
  margin: 0;
}

.hero-content .highlight {
  font-size: 24px;
}

.hero-content .price {
  color: #7c3aed;
  font-weight: 600;
}

.hero-image {
  max-width: 350px;
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  display: block;
}


.hero-image-mobile {
  display: none;
}

.hero-mobile-bottom {
  display: block;
}



@media (max-width: 768px) {
  .hero-section {
    padding: 40px 16px 0px 16px;
  }
  .hero-image {
    margin-top: 1px;
  }

  .hero-grid {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-content {
    width: 100%;
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 22px;
    line-height: 1.25;
    margin-bottom: 5px;
  }

  .hero-image-desktop {
    display: none;
  }

 
  .hero-image-mobile {
    display: block;
    width: 45%;
    height: 180px;
    flex-shrink: 0;
    max-width: none;
  }

  .hero-image-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 12px;
  }


  .hero-mobile-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .hero-text {
    flex: 1;
  }
  .price{

  }
  .highlight .price {
      line-height: 150%;
    margin: 0;
    font-size: 18px;
    font-weight: 500px;
    font-style: medium;
  }


  .hero-text p,
  .hero-text .highlight {
    line-height: 150%;
    margin: 0;
    font-size: 18px;
    font-weight: 700px;
    font-style: medium;
  }

  .highlight{
      line-height: 150%;
    margin: 0;
    font-size: 18px;
    font-weight: 500px;
    font-style: medium;

  }
}