.containerR {
  padding: 60px 16px;
  background: #fff;
}

.wrapperr {
  margin: 0 auto;
  max-width: 1400px;
  background: #fff;
}

.headingr {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: #111827;
  margin-bottom: 40px;
  font-family: 'Instrument Sans', sans-serif;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.mobile-scroll {
  display: none;
}


.cardd {
  background: #F0F9FF;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
    
}


.card-images {
  display: flex;
  gap: 4px;
  padding: 6px;
}

.image-box {
  width: 50%;
  text-align: center;
}

.image-box img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.image-box p {
  font-size: 14px;
  color: #374151;
  margin: 6px 0 4px;
  font-weight: 500;
  font-style:medium;
}


.card-content {
  padding: 12px 16px;
  background: #F0F9FF;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-top: 1px solid #e5e7eb;
  
}

.label {
  color: #3c3c3c;
  font-size: 14px;
   font-weight: 500;
  font-style:medium;
}

.value {
  color: #1f2937;
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 640px) {
  .containerR {
    padding: 40px 0;
  }

  .headingr {
    font-size: 24px;
    padding: 0 16px;
  }


  .grid {
    display: none;
  }

  .mobile-scroll {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 0 16px 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .mobile-scroll::-webkit-scrollbar {
    display: none;
  }

  .mobile-scroll .cardd {
    min-width: 280px;
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  .image-box img {
    height: 140px;
  }
}